@page "/blog"

<h1>Blog</h1>

<ul>
    <li>
        <a href="/blog/hello-world">Hello World</a>
    </li>
</ul>
<p>Welcome to the OsayamiBlog! This is where I share my thoughts, fictional stories I write, and experiences.</p>